.main {
  display: flex;
  height: 100vh;
}

.col {
  display: flex;
  align-items: center;
}

.section-card {
  background-color: #21092F;
  justify-content: flex-end;
  width: 33.33%;
}

.section-form {
  justify-content: center;
  width: 66.66%;
}
