<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

    <title>Interactive Card Designer</title>
  </head>
  <body>
    <main class="main">
      <section class="col section-card">
        <app-card
          [cardHolder]="cardHolder"
          [cardNumber]="cardNumber"
          [cardExpMonth]="cardExpMonth"
          [cardExpYear]="cardExpYear"
          [cardCvv]="cardCvv"
        ></app-card>
      </section>
      <section class="col section-form">
        <app-form
          (cardHolderEvent)="updateCardHolder($event)"
          (cardNumberEvent)="updateCardNumber($event)"
          (cardExpMonthEvent)="updateCardExpMonth($event)"
          (cardExpYearEvent)="updateCardExpYear($event)"
          (cardCvvEvent)="updateCardCvv($event)"
        ></app-form>
      </section>
    </main>
  </body>
</html>
